@model UserSignInModel
@{
    Layout = "_Layout";
}


<form asp-action="SignIn" asp-controller=Home method="post">
<div class="mb-3">
    <label>
        Kullanıcı Adı:
    </label>
    <span class="text-danger" asp-validation-for=@Model.UserName></span>
    <input type="text" asp-for=@Model.UserName class=form-control/>
    </div>
<div class="mb-3">
    <label>
        Şifre:
    </label>
    <span class="text-danger" asp-validation-for=@Model.Password></span>
    <input type="password" asp-for=@Model.Password class=form-control/>
</div>

<div class="form-check">
  <input class="form-check-input" type="checkbox" asp-for="@Model.RememberMe">
  <label class="form-check-label" for="RememberMe">
    Beni Hatırla
  </label>
</div>

<div class="mb-3">
    <button>
        Kaydet
    </button>
</div>

<div class="text-danger mt2" asp-validation-summary="ModelOnly">

</div>

</form>